table { border-collapse: collapse;}

img.csc235logo { width: 180px; }

td.csc235font { color: #990477; font-family: "Lucida Sans", Arial ; font-size: 20pt; font-style: italic ; text-shadow: 2px 6px 10px #0065FF; text-align:center; width:650px;}

td.darkpurple { background-color: #191970; color:#FFF000; width: 15em; height: 35px; text-align: center; font-family: 'Arial'; border-left: 3px solid black; border-right: 3px solid black;}

td.regularpurple { background-color: rgba(121, 128, 159); color:#FFFFFF; width: 15em; text-align: center; border-right: 3px solid black; font-family: 'Arial' ;}

td.regularpurpleblank { background-image: linear-gradient(to bottom, rgba(121, 128, 159), rgba(95, 101, 135)); width: 16em; border-color: black}

th.titles { font-family: "Lucida Sans", Arial ; font-size: 10pt; text-align:left}

td.regular_text { font-family:"Century"}

div {}

div.mission {float:right; background:linear-gradient(#f1e0b6 #ffffff); height:100%}

body {border: solid black 1px}

div.latest_news {float:right}

div.butterfly_world {float:right}

div.rounded_box {border-radius: 25px; background:#b9bfff; padding: 10px ; width: 210px; height: 130px}

p.Contact {padding-top: 20px; padding-left: 20px}

img.tree {padding-left:20px; max-height:40%; max-width:100%}

p.mission-state {padding-left:20px ; width:470px}


h1.butterfly_text {letter-spacing: 3px ; font-family:"Calibri"; font-size:15pt; padding:20px;}

img.Image {margin-left: 20px; max-width: 60% ; border:3px solid #dd3bd4;}

p.Butterfly_conservatory {padding-left:20px}

p.sub_purple_text {padding-left:20px; width:250px}


p.copyright_symbol {padding-right:40px ;padding-top:50px;float:right}

div.butterfly_showcase {margin-top:-15px; background-image:linear-gradient(#c177b1,#eab8c3); width:355px }

div.blank_space {padding:10px;background-color: #eab8c3; width:336px}

h1.title_text {padding-left: 20px; font-family: "Calibri"; letter-spacing: 2px; text-decoration: overline; font-size:12pt}

h1.Copyright_Text {padding-top:20px;padding-left:20px; font-family:"Calibri"; color:#FFF000; font-size:10pt}

p.Subtext_Copyright {padding-left:20px; font-family:"Calibri"; color:#FFF000; font-size:8pt; width:220px;word-spacing: 2px;}

div.blue_morpho {margin-top:-16px; background-color:#eab8c3; border:dotted; width:350px; height: 415px}

div.old_world {background-color:#eab8c3; border:dotted; width:350px; height: 465px}

div.Copyright {margin-top:-10px; background-image: url("./images/footer.jpg"); height: 125px;}

