
img.csc235logo { width: 180px; }

div.font {color: #990477; font-family: "Lucida Sans", Arial ; font-size: 20pt; font-style: italic ; text-shadow: 2px 6px 10px #0065FF; width:60%; display:inline-block;
}

div.darkPurple{background-color: #191970; color:#FFF000; width: 7em; height: 35px; text-align: center; font-family: 'Arial'; border-left: 3px solid black; border-right: 3px solid black; float:center;
}

div.regularPurple{ background-color: rgba(121, 128, 159); color:#FFFFFF; width: 7em; height: 35px; text-align: center; border-right: 3px solid black; font-family: 'Arial' ; float:left;
}

div.purpleBlank{ background-image: linear-gradient(to bottom, rgba(121, 128, 159), rgba(95, 101, 135)); width: 7em; border-color: black; float:left; height: 35px
}